<%- include('includes/header') %>

<body>
    <h1>My restaurant page</h1>

    <% if(!member) { %>
        <h2>siz authentificated emassiz</h2>
        <% } else { %>
            <h1>siz authentificated bolgansiz, va sizning nikingiz <%= member.mb_nick%>
            <p>sizning telefoningiz <%= member.mb_phone %></p>
            </h1>
            <% } %>


</body>

<%- include('includes/footer') %>